{#await configs}
<p>loading...</p>
{:then configs}
{#each configs as config}
<Service config="{config}"/>
{/each}
{/await}

<script>

    import Service from './service.html';

    export default {
        components: {
            Service
        },
        data() {
            return {
                configs: fetch('../supervisors', {
                    method: 'get',
                }).then((r) => r.json()).then((r) => Promise.all(r.map((name) => {
                        return fetch('../supervisor/' + encodeURIComponent(name), {
                            method: 'get',
                        }).then((data) => {
                            return data.json();
                        })
                    }))
                ).catch(function (err) {
                    console.error(err);
                })
            }
        }
    }

</script>
