{#await configs}
<p>loading...</p>
{:then configs}
{#each configs as config}
<Service config="{config}"/>
{/each}
{/await}

<script>

    import Service from './service.html';

    export default {
        components: {
            Service
        },
        data() {
            return {
                configs: fetch('../supervisors', {
                    method: 'get',
                }).then(function (r) {
                    if (r.status !== 200) {
                        console.warn(r.status, r.statusText)
                    } else {
                        return Promise.all(JSON.parse(r.body).map((name) => {
                            return fetch('../supervisor/' + encodeURIComponent(name), {
                                method: 'get',
                            }).then((data) => {
                                return JSON.parse(data.body);
                            })
                        }))
                    }

                }).catch(function (err) {
                    console.error(config.Name, err);
                })
            }
        }
    }

</script>
