<div class="card {detailed?'detailed':''}">
    <div class="container">
        <div class="header" on:click="toogle()">
            <span class="name">{config.Name}</span>
            {#if running === null}
            <div class="circle bg-grey blinking"></div>
            {:elseif running}
            <div class="circle bg-green"></div>
            {:else}
            <div class="circle bg-red"></div>
            {/if}
        </div>
        <div class="body">
            <div>
                {#if running === null}
                checking...
                {:elseif running}
                <a class="nicebtn" on:click="stop()">
                    <div class="stop">

                    </div>
                    stop
                </a>

                {:else}
                <a class="nicebtn" on:click="start()">
                    <div class="play">

                    </div>
                    start
                </a>
                {/if}
            </div>
            <p on:click="toogle()"></p>
            <pre style="margin: 0" on:click="toogle()">{config.Command} {config.Args.join(' ')}</pre>
            {#if detailed}
            <div class="mainblock" on:click="toogle()">
                <div class="run">
                    {#if config.WorkDir}
                    <div style="font-style: italic; font-family: monospace;color: gray; border-top: lightgray dotted 1px; padding-top: 0.5em; padding-left: 8px; padding-right: 8px; margin-top: 0.5em;  margin-left: -8px; margin-right: -8px">
                        &nbsp;at: {config.WorkDir}
                    </div>
                    {/if}

                </div>
            </div>
            {#if config.Environment}
            <table class="env">
                {#each Object.entries(config.Environment) as [name, value]}
                <tr>
                    <th>{name}</th>
                    <td style="word-break: break-all">
                        {value}
                    </td>
                </tr>
                {/each}
            </table>
            {/if}
            <div class="footer">

                <span class="green rborder">restart: {config.Restart===-1 ? '∞' : config.Restart}</span>
                <span class="blue rborder">restart timeout: {(config.RestartTimeout/1000000000).toFixed(2)}s</span>
                <span class="orange rborder">stop timeout: {(config.StopTimeout/1000000000).toFixed(2)}s</span>
                {#if config.LogFile}
                <span>
                    <a href="{base}/supervisor/{config.Name}/log">download log file</a>
                </span>
                {/if}
            </div>
            {/if}
        </div>

    </div>
</div>
<script>
    export default {
        data() {
            return {
                running: null,
                base: '..',
                detailed: false,
            }
        },
        methods: {
            fetchState() {
                const {config, base} = this.get();
                return fetch(`${base}/instance/` + encodeURIComponent(config.Name), {
                    method: 'get',
                }).then((r) => {
                    if (r.status === 404) {
                        return {"running": false}
                    }
                    return r.json()
                }).then((reply) => {
                    this.set({running: reply.running});
                }).catch((err) => {
                    console.error(config.Name, err);
                })
            },
            start() {
                const {running, config, base} = this.get();
                if (running) return;
                this.set({running: null});
                return fetch(`${base}/supervisor/` + encodeURIComponent(config.Name), {
                    method: 'post',
                }).then((r) => {
                    if (r.status !== 200) {
                        console.warn(r.status, r.statusText)
                    } else {
                        return this.fetchState();
                    }
                }).catch((err) => {
                    console.error(config.Name, err);
                })
            },
            stop() {
                const {running, config, base} = this.get();
                if (!running) return;
                this.set({running: null});
                return fetch(`${base}/instance/` + encodeURIComponent(config.Name), {
                    method: 'post',
                }).then((r) => {
                    if (r.status !== 204) {
                        console.warn(r.status, r.statusText)
                    } else {
                        return this.fetchState();
                    }
                }).catch((err) => {
                    console.error(config.Name, err);
                })
            },
            toogle() {
                this.fire('clicked');
            }
        },
        oncreate(ctx) {
            let fn = () => {
                this.timeout = setTimeout(() => {
                    this.fetchState().finally(() => {
                        fn();
                    })
                }, 2000);
            };
            this.fetchState().then(() => fn());
        },
        ondestroy() {
            clearTimeout(this.timeout);
        }
    }
</script>
<style type="text/css">
    .green {
        color: green;
    }

    .orange {
        color: red;
    }

    .blue {
        color: blue;
    }

    .bg-green {
        background-color: limegreen;
    }

    .bg-red {
        background-color: red;
    }

    .bg-grey {
        background-color: lightgray;
    }

    .circle {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 0.5em;
        margin-bottom: 2px;
    }

    .run {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
    }

    .nicebtn {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nicebtn:hover {
        background: whitesmoke;
    }

    .mainblock {
        display: flex;
        flex-direction: row;
    }

    .rborder {
        border-right: darkgray dashed 1px;
        padding-right: 1em;
    }

    .env {
        width: 100%;
        text-align: left;
        font-family: monospace;
    }


    .blinking {
        animation: blinking 2s linear infinite;
    }


    /*W3C*/
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        margin: 5px;
        display: inline-block;
        max-width: 300px;

    }

    .detailed {

        max-width: 100% !important;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 8px 16px;
    }

    .header {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .name {
        padding: 2px;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .body {

    }

    .footer {

    }

    .play {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 0 1em 2em;
        border-color: transparent transparent transparent #000000;
        display: inline-block;
        margin: 2px;
    }

    .stop {
        width: 2em;
        height: 2em;
        display: inline-block;
        border: black solid 2px;
        margin: 2px;
    }

    @keyframes blinking {
        50% {
            opacity: 0;
        }
    }
</style>
